{% extends 'baseDashboard.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <h1>Tableau de bord</h1>
    <a class="btn btn-info" id="button" href="{{ path("ajoutertache") }}">Ajouter une tâche</a>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"><input type="checkbox" name="checkAll" onClick="CheckAll()"></th>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Statut</th>
                <th scope="col">Option</th>
            </tr>
            </thead>
            <tbody>
            {% for tache in taches %}
                <tr>
                    <td><input type="checkbox" id="id" name="check_list[]" value="{{ tache.id }}" onclick="CheckOne(this)"></td>
                    <td>{{ tache.id }}</td>
                    <td>{{ tache.titre }}</td>
                    <td>{{ tache.statut }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">...</button>
                            <div class="dropdown-content">
                                <a href="{{ path("modifier", {"id": tache.id}) }}">Modifier</a>
                                <a href="{{ path("delete", {"id": tache.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
    <script>
        let chk=document.getElementsByName("checkAll")[0];
        let chk2=document.getElementsByName('check_list[]');
        let button=document.querySelector("#button");

        function CheckAll(){
            if(chk.checked==true){
                for (i=0;i<chk2.length;i++){
                    chk2[i].checked=true
                    button.href="{{ path("deleteall") }}";
                    button.innerHTML="Supprimer tout"
                }
            }else{
                for (i=0;i<chk2.length;i++){
                    chk2[i].checked=false
                    button.href="{{ path("ajoutertache") }}";
                    button.innerHTML="Ajouter une tâche"
                }
            }
        }

        function CheckOne(value){
            var checkOne = document.getElementById("id").innerText = value.value;
            return checkOne;
        }
        for (let i=0;i<chk2.length;i++){
            chk2[i].addEventListener("click", function (){
                if (this.checked){
                    button.href=("/delete/"+CheckOne(this));
                    button.innerHTML="Supprimer";
                }
                else{
                    button.href="{{ path("ajoutertache") }}";
                    button.innerHTML="Ajouter une tâche";
                }
            })
        }

    </script>
{% endblock %}
